---
layout: archive
title: "Selected Talks and Seminars"
permalink: /talks/
author_profile: true
---
          <p> Some selected presentations, current through 12/2020. </p> <br>
          <ul>
              <!-- <ol> -->
                <li> <b>Anthony Gruber</b>.
                  Paper presentation, 18th International Conference of Numerical Analysis and Applied Mathematics (virtual), Sep 17-23, 2020,  <i>Willmore stable minimal surfaces</i>, Rhodes, Greece. (30 min; Sep 17, 2020.)  Slides available <a href="../files/slides/WSMS_slides.pdf" >here</a>. </li> <br>
                <li> <b>Anthony Gruber</b>.
                  Paper presentation, 18th International Conference of Numerical Analysis and Applied Mathematics (virtual), Sep 17-23, 2020,  <i>Quaternionic remeshing during surface evolution</i>, Rhodes, Greece. (30 min; Sep 17, 2020.)  Slides available <a href="../files/slides/QRDSE_slides.pdf" >here</a>. </li> <br>
                <li> <b>Anthony Gruber</b>.
                  Invited talk, AMS special session 1159, Geometry of Submanifolds and Integrable Systems (virtual), Sep 12-13, 2020, <i>Codazzi tensors with parallel mean curvature</i>, University of Texas at El Paso.  (25 min; September 12, 2020.)  Slides available <a href="../files/slides/ElPaso2020.pdf" >here</a>. </li> <br>
                <li> <b>Anthony Gruber</b>.
                  Plenarly lecture as early career speaker, 63rd Texas Geometry and Topology Conference (virtual), Apr 24-26, 2020, <i>Stationary surfaces for curvature functionals</i>, Texas Tech University, Lubbock. (50 min; April 23, 2020.)  Slides available <a href="../files/slides/colloquium_2020.pdf" >here</a>. </li> <br>
                <li> <b>Anthony Gruber</b>.
                  Seminar talk, <i>Computing stationary solutions to p-Willmore flow</i>, Applied Mathematics group, Texas Tech University. (50 min; April 22, 2020.) Slides available <a href="../files/slides/appmath_pres.pdf" >here</a>. </li> <br>
                <li> Robert A. Bridges (presenter), <b>Anthony Gruber</b>, Christopher Felder, Miki Verma, Chelsey Hoff.
                  Paper presentation, 36th International Conference on Machine Learning, June 9-15, 2019, <i>Active Manifolds: A non-linear analogue to Active Subspaces</i>, Long Beach, California. 06/11/2019.  Slides available <a href="../files/slides/ICML_presentation.pdf" >here</a>. </li> <br>
                <li> Eugenio Aulisa, <b>Anthony Gruber</b>, Magdalena Toda (presenter), Hung Tran.
                  Plenary lecture, <i>p-Willmore Energies</i>, XXIst International Conference on Geometry, Integrability, and Quantization, June 3-9, 2019, Bulgarian Academy of Science, Institute of Biophysics, Bulgaria. Slides available <a href="../files/slides/magda_presentation.pdf" >here</a>. </li> <br>
                <li> <b>Anthony Gruber </b>.
                  <i> Curvature functionals and p-Willmore energy </i>.
                  Dissertation defense, Texas Tech University.
                  Presented 05/09/2019.  Slides available <a href="../files/slides/DD_slides.pdf" >here</a>. </li> <br>
              <!--  <li> <b>Anthony Gruber</b>.
                  Seminar talk, <i>A conformally-adjusted Willmore flow of closed surfaces</i>, Applied Mathematics group, Texas Tech University, Lubbock. (50 min; May 8, 2019.)  Slides available <a href="../files/slides/applied_math_seminar.pdf" >here</a>. </li> <br>
                <li> <b>Anthony Gruber</b>.
                  Seminar talk, <i>Curvature functionals and varational problems</i>, Analysis group, Texas Tech University, Lubbock. (50 min; April 29, 2019.)  Slides available <a href="../files/slides/analysis_seminar.pdf" >here</a>. </li> <br> -->
                <li> <b>Anthony Gruber</b>, Robert Bridges, Christopher Felder, Chelsey Hoff.
                  Seminar talk, <i>Active Manifolds: a geometric approach to dimension reduction for sensitivity analysis</i>, ORNL Computational and Applied Mathematics group, Oak Ridge, Tennessee. (50 min; August 1, 2018.)  Slides available <a href="../files/slides/am_seminar.pdf" >here</a>. </li> <br>
              <!-- </ol> -->

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
